{% extends "base.html" %}

{% block title %}Department | AHMS{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-7">
        <div class="card">
            <div class="card-header">Department</div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-flex justify-content-end gap-2">
                        <a href="{% url 'doctors:departments' %}" class="btn btn-outline-secondary">Cancel</a>
                        <button class="btn btn-primary" type="submit">Save Department</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
